{% extends "base.jinja2" %}
{% block content %}
<div class="container form-width">
    <h1 class="text-center"> Add profile</h1>
    {% if message is defined %}
        <h4 class="text-center"><span class="label label-danger">{{ message }}</span></h4>
        {% endif %}
    <form id="register-form" action="/user/set/profile" method="post">

        <div class="form-group">
            <label for="full_name">full name</label>
            <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Example: ibrahim">
        </div>
        <div class="form-group">
            <label for="country">country</label>
            <input type="text" id="country" name="country" class="form-control" placeholder="Email@example.com">
        </div>

         <button type="submit" id="submit-button" class="btn btn-primary">add profile</button>
    </form>
</div>
{% endblock %}