{% extends "base.jinja2" %}
{% block content %}
<div class="container">
    <hr>
    <ol class="breadcrumb">
        <li><a href="#">home</a></li>
        <li class="active"><a href="active">add item</a></li>
    </ol>
    <hr>
    <h1 class="center-block"><span class="glyphicon glyphicon-plus-sign"></span> Add new item </h1>
    <form id="new-movie-form" action="{{url_for('items.add_item')}}" method="post" enctype="multipart/form-data">
        {% if message is defined %}
        <h4 class="text-center"><span class="label label-danger">{{ message }}</span></h4>
        {% endif %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Example: Ice Age">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="file">Image Url:</label><br>
            <div class="btn btn-default image-preview-input"><span class="glyphicon glyphicon-folder-open"></span> <span
                    class="image-preview-input-title">Browse</span>

                <input type="file" id="file" name="file" accept="image/*" multipleclass="form-control" multiple>
                <hr>
                <div class="col-md-4 col-xs-6 thumb">
                <img class="img-responsive" id="img_preview" src="http://placehold.it/100x100"  />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" id="contact" name="contact" class="form-control" placeholder="Tel/email">
        </div>

        <button type="submit" id="submit-button" class="btn btn-primary">Add Item</button>
    </form>
</div>

<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#img_preview').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#file").change(function () {
    readURL(this);
});

</script>
{% endblock %}