{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4 class="text-center"><span id="msg" class="label label-danger"></span></h4>
    {% if editable is defined %}
    <h1 class="center-block"><a href="#" id="x-title" data-type="text" data-url="/user/item/update/title"
                                data-pk="{{item._id}}" data-title="Change your title"> {{item.title}} </a> 's details
    </h1>
    {% else %}
    <h1 class="center-block"> {{item.title}} details </h1>
    {% endif %}

    {% if editable is defined %}
    <p>Description: <a href="#" id="x-description" data-type="textarea" data-url="/user/item/update/description"
                       data-pk="{{item._id}}"
                       data-title="Change your description">{{ item.description }}</a></p>
    {% else %}
    <p>Description: {{ item.description }}</p>
    {% endif %}

    <p>Date Posted: {{ item.date_posted|datetimeformat }}</p>

    {% if editable is defined %}
    <p>Contact: <a href="#" id="x-contact" data-type="text" data-url="/user/item/update/contact" data-pk="{{item._id}}"
                   data-title="Change contact details">{{ item.contact }}</a></p>
    {% else %}
    <p>Contact: {{ item.contact }}</p>
    {% endif %}

    <a class="thumbnail" href="#">

        <img class="img-rounded" src="{{ url_for('static', filename='{}'.format( item.image_url)) }}">
    </a>


    <hr>

</div>

<script>
$(function() {
   $('#x-title').editable({
            placement: "top",
            error: function (errors) {
            },
            success: function(response, newValue){
            document.getElementById('msg').innerHTML = 'Change has been made; It will be online as soon as it is approved.';

            }
        });

   $('#x-description').editable({
            mode:"inline",
            placement: "right",
            error: function (errors) {
            },
            success: function(response, newValue){
            document.getElementById('msg').innerHTML = 'Change has been made; It will be online as soon as it is approved.';
            alert("1");
            }
        });

   $('#x-contact').editable({
            mode:"inline",
            placement: "right",
            error: function (errors) {
            },
            success: function(response, newValue){
            document.getElementById('msg').innerHTML = 'Change has been made; It will be online as soon as it is approved.';
            }
        });
  });
</script>
{% endblock %}