{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pinterest.css')}}">
<script src="{{ url_for('static', filename='js/pinterest.js')}}"></script>
<div class="container form-width">
    <h1 class="text-center"> Your Posted Items </h1>
    {% if message is defined %}
    <h4 class="text-center"><span class="label label-danger">{{ message }}</span></h4>
    {% endif %}
    <a href="/user/items/add">
        <button class="center-block btn btn-success">Add Item</button>
    </a>
</div>
<hr>
<section id="pinBoot">
    {% if items|length > 0 %}
    {% for item in items | sort(True, attribute='date_posted') %}
    <article class="white-panel">
        <div class="thumbnail">
            <div class="well">
                <a href="/user/items/detail/{{item._id}}"><h3>{{ item.title }}</h3></a>
            </div>
            <p>Date Posted: {{ item.date_posted|datetimeformat }}</p>
            <p><b>Contact Information: {{ item.contact }}</b></p>
            <img class="thumbnail img-rounded" src="{{ url_for('static', filename='{}'.format( item.image_url)) }}">
            <p>Description: {{ item.description }}</p>
            <a class="label label-danger" href="/user/items/delete/{{item._id}}">Delete</a>
        </div>
        <hr>
    </article>
    {% endfor %}
    {% else %}
    <h4>You did not add any item yet; Look around you mind fine something you do not need..</h4>
    {% endif %}
</section>
{% endblock %}
