{% extends "base.html" %}
{% block content %}
<link src="{{ url_for('static', filename='css/dc.css')}}">
<link src="{{ url_for('static', filename='css/graphs.css')}}">
<div class="container form-width">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center panel-title"> DASHBOARD </h1>
        </div>
        <div class="panel-body">
            <div class="row">


                {% if message is defined %}
                <h4 class="text-center "><span class="label label-danger">{{ message }}</span></h4>
                {% endif %}
                <div class="col-md-12">
                    <div class="row">
                        <!-- Time Chart -->
                        <div class="col-md-6">
                            <div class="well">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        Number of Items
                                    </div>
                                    <div class="chart-stage">
                                        <div id="time-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Time Chart -->

                        <!-- Metric 1 -->
                        <div class="col-md-3">
                            <div class="well ">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        <h2>Number of Groups</h2>
                                        <h5 class="text-muted">Groups=days with entries</h5>
                                    </div>
                                    <div class="chart-stage">
                                        <h2>
                                            <div id="number-items-nd"></div>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Metric 1 -->


                        <!-- Metric 2 -->
                        <div class="col-md-3">
                            <div class="well">
                                <div class="chart-wrapper">
                                    <div class="chart-title">
                                        <h2>Total Items Posted</h2>
                                    </div>
                                    <div class="chart-stage">
                                        <h2>
                                            <div id="total-items-nd"></div>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>

                    <div class='row'>
                        <div class='span12' id='dc-time-chart'>
                          <h4>Events per hour</h4>
                        </div>
                      </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">

                                <div class="panel-body">


                                    <div class="col-md-6">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="text-center">{{users_count}}</h1>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    Show Users
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <i class="fa fa-list fa-5x"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="text-center">{{items_count}}</h1>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    Show all items
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <i class="fa fa-spinner fa-5x"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="text-center">
                                            <a href="/admin/pending/items">{{pending_items_count}} </a>
                                        </h1>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a href="/admin/pending/items">Show pending items</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <i class="fa fa-thumbs-up fa-5x"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="text-center">
                                            {{approved_items_count}}
                                        </h1>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    Show approved items
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4"><h2>Number of Users: {{users_count}}</h2></div>
                <div class="col-xs-6 col-md-4"><h2>Items available: {{items_count}}</h2></div>
                <div class="col-xs-6 col-md-4"><a href="/admin/pending/items"><h2>Items Pending:
                    {{pending_items_count}}</h2></a></div>
                <div class="col-xs-6 col-md-4"><h2>Items Approved: {{approved_items_count}} </h2></div>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
                <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.js"></script>
                <script src="{{ url_for('static', filename='js/chart.js')}}"></script>

                <script>


                </script>

            </div>
        </div>
    </div>
</div>
{% endblock %}