{% extends "base.jinja2" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pinterest.css')}}">
<script src="{{ url_for('static', filename='js/pinterest.js')}}"></script>
<div class="container form-width">
    <h1 class="text-center"> Pending Items </h1>
    {% if message is defined %}
    <h4 class="text-center"><span class="label label-danger">{{ message }}</span></h4>
    {% endif %}

</div>
<section id="pinBoot">
    {% if items|length > 0 %}
    {% for item in items | sort(True, attribute='date_posted') %}
    <article class="white-panel">
        <div class="thumbnail">
            <div class="well">
                <a href="/user/items/detail/{{item._id}}"><h3>{{ item.title }}</h3></a>
            </div>
            <p>Date Posted: {{ item.date_posted|datetimeformat }}</p>
            <p><b>Contact Information: {{ item.contact }}</b></p>
            {% if item.image_url|is_list %}
            {%set one_image = false%}
            {% for url in item.image_url %}
            {% if one_image == false%}
            <div class="media">
            <a class="thumbnail" href="/user/items/detail/{{item._id}}">

                <img class="img-rounded" src="{{ url_for('static', filename='{}'.format( url)) }}">
                <span class="badge badge-warning pull-right">{{item.image_url|length}}</span>

            </a>
            </div>
            {%set one_image = true%}
            {%endif%}
            {% endfor %}

            {% else %}
            <div class="media">
            <a class="thumbnail" href="/user/items/detail/{{item._id}}">
                <img class="img-rounded" src="{{ url_for('static', filename='{}'.format( item.image_url)) }}">
            </a>
            </div>
            {% endif %}
            <p>Description: {{ item.description }}</p>
            <a class="label label-success" href="/user/items/approve/{{item._id}}">Approve</a>
            <a class="label label-danger" href="/user/items/delete/{{item._id}}">Delete</a>
        </div>
        <hr>
    </article>
    {% endfor %}
    {% else %}
    <h4>It is like a desert in here. No pending Items</h4>
    {% endif %}
</section>
{% endblock %}
