body {
 background-color:#eee;
}

.media img+span.badge {
    position: relative;
    top: -20px;
    left: -2px;
}

.badge-danger {
  background-color: #d43f3a;
}
.badge-warning {
background-color: #d58512;
}

.badge-success {
background-color: #398439;
}

.badge-info {
background-color: #269abc;
}

.badge-inverse {
background-color: #333333;
}

.default-blue{
background-color: #337ab7;
}
.read { color: #222;background-color: #F3F3F3; }

path {
stroke: steelblue;
stroke-width: 2;
fill: none;
}
.axis path,
.axis line {
fill: none;
stroke: red;
stroke-width: 1;
shape-rendering: crispEdges;
}

.tooltipGraph{
    position: absolute;
    text-align: center;
    width: 80px;
    height: 38px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}